rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      allow read: if user == request.auth.uid;
      match /tokens/{token} {
        allow write: if user == request.auth.uid;
      }
    }
  }
}
